# Python Sets
* Sets are collections of unique elements and do not maintain any order. The order of elements may vary.

* Sets automatically eliminate duplicate values. If you try to add a duplicate item, it will not be added to the set.

* Sets are mutable, meaning you can add or remove items after the set is created.

* Although sets themselves are mutable, the elements contained within them must be immutable.

* Sets support mathematical operations like union (|), intersection (&), difference (-), and symmetric difference (^).

# Creating Sets

In [1]:
myset = {1, 2, 3}
print(myset)
myset1 = {1.0, "Hello", (1, 2, 3)}  # mixed datatypes
print(myset1)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

# Converting a list to set

In [3]:
num = set([1, 2, 3, 2])
print(num)
print(type(num))
numbers = {2, 3, 4, 5, 6, 7, 8, 2, 9, 1, 3,}
print(numbers)

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
highnum = {32, 43, 44, 86, 75, 88, 92, 44, 75}
highnum

{32, 43, 44, 75, 86, 88, 92}

In [5]:
lrgnumb = {105, 185, 206, 22, 49, 902, 10003, 49, 105, 22, 49, 504, 188, 10003}
lrgnumb

{22, 49, 105, 185, 188, 206, 504, 902, 10003}

# Add Items
To add one item to set use the add() method.

In [9]:
myset = {1, 2, 3}
myset.add(4)
print(myset)
myset = {"sai", "teja", "krishna"}
myset.add("siva")
print(myset)
myset = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10,}
myset.add("numbers")
print(myset)

{1, 2, 3, 4}
{'krishna', 'siva', 'sai', 'teja'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'numbers'}

# Update Sets
* The object in the update() method does not have to be a set, it can be any iterable object.

In [13]:
myset = {1, 2, 3, 4, 5, 6, 7, 8, 9}
myset.update(["sai", "teja", "krishna"])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'sai', 'krishna', 'teja'}

In [15]:
myset = {"sai", "teja", "krishna"}
myset.update([1, 2, 3, 4, 5, 6, 7, 8, 9,])
print(myset)

{1, 2, 3, 'sai', 4, 5, 6, 7, 'krishna', 8, 9, 'teja'}

# Remove a Set element
* To remove an item in set use remove(),or discard() method.

In [16]:
myset = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
myset.remove(10)
print(myset)
myset = {"sai", "teja", "krishna"}
myset.discard("sai")
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'krishna', 'teja'}

In [17]:
mynum = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
mynum.discard(10)
print(mynum)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Set Operations
* Set provides built-in methods such as union, intersection, subtraction and symmetric difference to perform mathematical operations amoung sets.
**1.Union:**

* Combine of elements from two sets and removing the duplicates

In [18]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 10}
b = {1, 2, 3, 4, 5, 6, 7, 8}
print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
a = {"sai", "teja", "krishna"}
b = {"sai", "teja", "krishna", "siva"}
print(a | b)
print(a.union(b))

{'siva', 'sai', 'krishna', 'teja'}
{'siva', 'sai', 'krishna', 'teja'}

**2.Intersection():**

Returns common elements between two sets.

In [20]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9,}
b = {2, 3, 4, 6, 8}
print(a & b)
print(a.intersection(b))
a = {"sai", "teja", "krishna"}
b = {"sai", "teja", "krishna", "siva"}
print(a & b)
print(a.intersection(b))

{2, 3, 4, 6, 8}
{2, 3, 4, 6, 8}
{'krishna', 'sai', 'teja'}
{'krishna', 'sai', 'teja'}

**3.Difference:**

Find the elements that are present in the first set but not in the second set.

In [22]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9,}
b = {2, 3, 4, 6, 8}
print(a - b)
print(a.difference(b))
a = {1, 2, 3, 4, 5, 6, 7, 8, 9,}
b = {2, 3, 4, 6, 8}
print(b - a)
print(b.difference(a))

{1, 5, 9, 7}
{1, 5, 9, 7}
set()
set()

**4.Symmetric Difference:**

Find the elements that are present in either set, but not in both sets.

In [24]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9,}
b = {2, 3, 4, 6, 8}
print(a ^ b)
print(a.symmetric_difference(b))
a = {"sai", "teja", "krishna"}
b = {"sai", "teja", "krishna", "siva"}
print(a ^ b)
print(a.symmetric_difference(b))

{1, 5, 7, 9}
{1, 5, 7, 9}
{'siva'}
{'siva'}