# Python Dictionaries
  Python dictionaries are a built-in data type that allows you to store collections of key-value pairs. They are often used when you need a mapping from unique keys to values. Here's a breakdown of their key features and usage:

* Dictionaries do not maintain any order for the key-value pairs. As of Python 3.7, dictionaries preserve the insertion order, but this is more of an implementation detail rather than a guaranteed feature in earlier versions.

* You can change the dictionary after it has been created, adding, removing, or modifying key-value pairs.

* Keys in a dictionary must be unique. If you try to use a key that already exists, the value associated with that key will be updated.

* Keys must be immutable types. This includes strings, numbers, and tuples containing only immutable types. Lists and other dictionaries are not allowed as dictionary keys.

* Values can be of any type and can be duplicated.

# Creating Dictionaries:

In [ ]:
empty_dict = {}
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
student = dict(name="Bob", age=22, city="San Francisco")
print(student)

{'name': 'Bob', 'age': 22, 'city': 'San Francisco'}

# Mixed dictionaries

* In Python refer to dictionaries that contain a mix of different types of values or key-value pairs, such as having keys of different types or values that vary in type.

In [ ]:
mixed_dict = {"name": "John", "age" : 25,"grade" : [90, 88, 95]}
print(mixed_dict)

{'name': 'John', 'age': 25, 'grade': [90, 88, 95]}

In [ ]:
mixed_dict1 = {"name": "teja", "age": 22, "grades": {"math": 90, "science": 88, "history": 95}}
print(mixed_dict1)

{'name': 'teja', 'age': 22, 'grades': {'math': 90, 'science': 88, 'history': 95}}

# Accessing values:
* you can access the values in dictionary using the keys

In [ ]:
# accessing the values
mixed_dict = {"name": "John", "age" : 25,"grade" : [90, 88, 95]}
print(mixed_dict)
print(mixed_dict["name"])
print(mixed_dict["age"])
print(mixed_dict["grade"])

{'name': 'John', 'age': 25, 'grade': [90, 88, 95]}
John
25
[90, 88, 95]

In [ ]:
mixed_dict1 = {"name": "teja", "age": 22, "grades": {"math": 90, "science": 88, "history": 95}}
print(mixed_dict1)
print(mixed_dict1["name"])
print(mixed_dict1["age"])
print(mixed_dict1["grades"])

{'name': 'teja', 'age': 22, 'grades': {'math': 90, 'science': 88, 'history': 95}}
teja
22
{'math': 90, 'science': 88, 'history': 95}

# Modifiying and Adding Entries:
* Dictionaries are mutable , so we can modify existing entries or add new ones.

In [ ]:
mixed_dict = {"name": "John", "age" : 55,"grade" : [90, 88, 95]}
print(mixed_dict)
mixed_dict["age"] = 25
print(mixed_dict)

{'name': 'John', 'age': 55, 'grade': [90, 88, 95]}
{'name': 'John', 'age': 25, 'grade': [90, 88, 95]}

In [ ]:
mixed_dict1 = {"name": "teja", "age": 70, "grades": {"math": 90, "science": 88, "history": 95}}
print(mixed_dict1)
mixed_dict["age"] = 22
print(mixed_dict1)

{'name': 'teja', 'age': 70, 'grades': {'math': 90, 'science': 88, 'history': 95}}
{'name': 'teja', 'age': 70, 'grades': {'math': 90, 'science': 88, 'history': 95}}

**Adding a new entry**

In [ ]:
student = {"name": "Alice", "age": 20, "city": "New York"}
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 20, 'city': 'New York', 'grade': 'A'}

In [ ]:
student["grade"] = "B"
student["qulification"] = "B.tech"
print(student)

{'name': 'Alice', 'age': 20, 'city': 'New York', 'grade': 'B', 'qulification': 'B.tech'}

# Dictionary Methods:
**1.get()**

* It will returns the values for the specified key, it allows you to provide a default vaue if key is not found.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
g = student.get("grade", "no grade")
gender = student.get("gender", "not specified")
l = student.get("location", "no location")
print(g)
print(gender)
print(l)

A
not specified
no location

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
g = student.get("grade", "no grade")
gender = student.get("gender", "not specified")
l = student.get("location", "no location")
print(g)
print(gender)
print(l)

B
male
no location

**2.keys():**
* Returns a view of all the keys in the dictionary.

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
Key = student.keys()
print(Key)

dict_keys(['name', 'age', 'grade', 'gender'])

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
key1 = student.keys()
print(key1)

dict_keys(['name', 'age', 'grade'])

**3.Values():**
* Returns a view of all the values in the dictionary.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
values = student.values()
print(values)

dict_values(['Alice', 20, 'A'])

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
values1 = student.values()
print(values1)

dict_values(['sai', 22, 'B', 'male'])

**4.items():**
* Returns a view of all key-values pairs as tuples.

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
items = student.items()
print(items)

dict_items([('name', 'sai'), ('age', 22), ('grade', 'B'), ('gender', 'male')])

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
items1 = student.items()
print(items1)

dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A')])

**5.Pop():**
* Remove and returns the value for a specifed key.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
grade = student.pop("grade")
print(grade)
print(student)

A
{'name': 'Alice', 'age': 20}

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
name = student.pop("name")
print(name)
print(student)

sai
{'age': 22, 'grade': 'B', 'gender': 'male'}

**7.Update():**
* update the dictionary with the element from another dictionary or from an iterable of keys value pairs.

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
student1 = {"city": "New York"}
student.update(student1)
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 'New York'}

In [ ]:
student = {"name": "sai", "age": 22, "grade": "B", "gender": "male"}
student1 = {"city": "Hyderabad"}
student.update(student1)
print(student)

{'name': 'sai', 'age': 22, 'grade': 'B', 'gender': 'male', 'city': 'Hyderabad'}