# Python Functions
* Python functions are reusable blocks of code defined using the `def` keyword, which take inputs parameters, execute a sequence of statements, and can return a value. They help organize code, promote reusability, and improve readability.

 **Example**

In [7]:
def car():
  print("swift")

In [8]:
car()

swift

# Arguments
* Information can be passed into functions as arguments.
* Arguments are specified after the function name, inside the parentheses.we can add as many arguments as you want, just separate them with a comma.

 **Example**

In [12]:
def bike(name):
  print(f"{name} is a bike")

In [13]:
bike("KTM")

KTM is a bike

# Python Lambda
* lambda function is a small anonymous fuction.
* lambda function can take any two numbers of arguments, but can only have one expression

In [14]:
a = lambda x,y : x*y
print(a(5,6))

30

# filter()function:
* The filter function returns an iteration where the items are filtered through a function to test if the item is accepted or not.

 **Example**

In [15]:
mylist = [1,2,3,4,5,6,7,8,9]
newlist = list(filter(lambda x : (x%2==0),mylist))
print(newlist)

[2, 4, 6, 8]

In [16]:
mylist2 = [1,2,3,4,5,6,7,8,9]
newlist2 = list(filter(lambda x : (x%2!=0),mylist2))
print(newlist2)

[1, 3, 5, 7, 9]

# map()function:
* we can also use lambda expressionsn with map to achive above result.

In [17]:
list3 = [1,2,3,4,5,6,7,8,9]
newlist3 = list(map(lambda x : x + x,list3))
print(newlist3)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
list4 = [1,2,3,4,5,6,7,8,9]
list5 = [9,8,7,6,5,4,3,2,1]
newlist4 = list(map(lambda x,y : x + y,list4,list5))
print(newlist4)

[10, 10, 10, 10, 10, 10, 10, 10, 10]